<!--Setting up the boilerplate html for every page in our application -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <title>Mybrary</title>
</head>

<body>
  Before every single page
  <br>
  <!-- code is imported from index.ejs file into layout.ejs files line 14s body tag -->
  <%- body %>
  <br>
  After every single page
</body>
</html>
